---
import Circle from "../Circle.astro";
const socialLinks = [
  {
    name: "Twitter",
    path: "/",
  },
  {
    name: "Instagram",
    path: "/",
  },
  {
    name: "FAcebook",
    path: "/",
  },
];

const footerLinks = {
  menu: {
    title: "menu",
    links: [
      {
        title: "home",
        link: "/",
      },
      {
        title: "projects",
        link: "/",
      },
      {
        title: "Exhibitions",
        link: "/exhibitions",
      },
      {
        title: "about",
        link: "/about",
      },
      {
        title: "Contact",
        link: "/",
      },
    ],
  },
  info: {
    title: "info",
    links: [
      {
        title: "Styleguide",
        link: "/",
      },
      {
        title: "Licensing",
        link: "/",
      },
      {
        title: "Changelog",
        link: "/",
      },
    ],
  },
};
---
<div class="py-32 flex items-center justify-center gap-12">
  <Circle />
  <div class="space-y-2">
    <h3>Let’s Work</h3>
    <h3>Together</h3>
  </div>
</div>
<footer class="custom-container footer">
  <div class="grid grid-cols-4 px-16">
    <div class="col-span-2 space-y-2">
      <h2 class="footer-title">Jacob Grønberg</h2>
      <p class="text-center text-default text-text-m">
        Photograph & Visual Artist
      </p>
    </div>
    <div class="flex flex-col items-center gap-12">
      <h4 class="footer-group-title">{footerLinks.menu.title}</h4>
      <ul class="footer-group-link-list">
        {
          footerLinks.menu.links.map((data) => (
            <li>
              <a href={data.link} class="footer-group-link">
                {data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col items-end gap-12">
      <h4 class="footer-group-title">{footerLinks.info.title}</h4>
      <ul class="footer-group-link-list">
        {
          footerLinks.info.links.map((data) => (
            <li>
              <a href={data.link} class="footer-group-link">
                {data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="flex w-full items-center justify-between">
    <p class="text-text-s text-default">
      <a href="/" class="text-primary"> © Made by Pawel Gola </a> - Powered by Webflow
    </p>
    <ul class="flex items-center gap-7">
      {
        socialLinks.map((data) => (
          <li>
            <a href={data.path} class="social-link">
              {data.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<style>
  .footer {
    @apply border-t border-solid border-border pb-12 pt-24 space-y-24;
  }

  .footer-title {
    @apply text-primary text-heading-l leading-none;
  }
  .footer-group-title {
    @apply uppercase text-heading-3 text-primary;
  }
  .footer-group-link {
    @apply text-default text-text-m capitalize block;
  }
  .footer-group-link-list {
    @apply flex flex-col items-start gap-5;
  }

  h3{
    @apply text-heading-l text-default uppercase leading-none
  }
  h3:nth-child(2){
    @apply text-primary capitalize
  }
</style>
